<template>
  <form class="form" @submit="addGood">
    <div class="form__inner">
      <div class="form__row">
        <label class="form__label form__label--required" for="name"
          >Наименование товара</label
        >
        <input class="form__input" type="text" v-model="name" id="name" placeholder="Введите наименование товара" />
        <div class="form__mistake">
          <!-- Поле является обязательным -->
        </div>
      </div>
      <div class="form__row">
        <label class="form__label" for="description"
          >Описание товара</label
        >
        <textarea
          class="form__input"
          name=""
          id="description"
          cols="auto"
          rows="6"
          style="resize: none"
          v-model="description"
          placeholder="Введите описание товара"
        ></textarea>
        <div class="form__mistake">
          <!-- Поле является обязательным -->
        </div>
      </div>
      <div class="form__row">
        <label class="form__label form__label--required" for="imageLink">Ссылка на изображение товара</label>
        <input class="form__input" type="text" v-on:change="checkImage" v-model="imageLink" id="imageLink" placeholder="Введите ссылку" />
        <div class="form__mistake">
          {{imageLinkAvailableText}}
        </div>
      </div>
      <div class="form__row">
        <label class="form__label form__label--required" for="price"
          >Цена товара</label
        >
        <input class="form__input" type="text" v-on:input="formatPrice" v-model="price" id="price" placeholder="Введите цену" />
        <div class="form__mistake">
          <!-- Поле является обязательным -->
        </div>
      </div>
      <div class="form__row form__action">
        <input
          class="btn btn--primary"
          type="submit"
          value="Добавить товар"
          
          :disabled="!isValidForm"
        />
      </div>
    </div>
    <div class="form__success "
      :class="isAddedGood?'form__success--active':''"
      >Товар добавлен!</div>
  </form>
</template>

<script>
export default {
  data: () => {
    return {
      name: "",
      description: "",
      imageLink: "",
      imageLinkAvailable: false,
      imageLinkAvailableText: "",
      price: "",
      isAddedGood: false
    };
  },
  computed: {
    isValidForm(q) {
      return this.name.trim() !== ""
        && this.imageLinkAvailable 
        && +(this.price).replace(/[^0-9,]/g,'') > 0
    },
  },
  methods: {
    formatPrice(){
      this.price = this.price.replace(/[^0-9]/g,'').replace(/\B(?=(\d{3})+(?!\d))/g, " ")
    },
    checkImage(){
      this.imageLinkAvailable = false

      console.log(this.imageLink)

      let img = new Image()
      img.src = this.imageLink

      img.onerror = ()=>{
        this.imageLinkAvailableText = "Изображение недоступно, попробуйте другую ссылку."
      }
      img.onload = ()=>{
        this.imageLinkAvailable = true
        this.imageLinkAvailableText = ""
      }
    },
    addGood(e) {
      e.preventDefault()
      this.$store.commit("addGood", {
        name: this.name,
        description: this.description,
        imageLink: this.imageLink,
        price: this.price,
        id: +new Date(),
      });

      this.isAddedGood = true

      setTimeout(()=>this.isAddedGood = false,5000)

      this.name        =
      this.description =
      this.imageLink   =
      this.price       = "";
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/_vars.scss";
.form {
  max-width: 100%;
}
</style>