<template>
  <div>
    <transition name="fade">
      <div class="h1 text--green flex flex--center" v-if="!allGoods.length&&isGoodsLoaded">
        <p class="position--absolute">Добавьте товары</p>
      </div>
    </transition>
    <transition-group name="goods-list-item" tag="div" :class="'goods-list'">
      <GoodsItem v-for="item in allGoods" :key="item.id" v-bind:item="item" />
    </transition-group>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  computed: {
    ...mapGetters(['allGoods','isGoodsLoaded'])
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/_vars.scss";

.goods-list {
  position: relative;
  display: flex;
  margin: -8px;
  flex-wrap: wrap;
  & > * {
    margin: 8px;
    width: calc(100% / 3 - 16px);
    flex-basis: calc(100% / 3 - 16px);
    flex-grow: 0;
    flex-shrink: 0;
  }
  @media (max-width: $screen_l) {
    & > * {
      width: calc(100% / 2 - 16px);
      flex-basis: calc(100% / 2 - 16px);
    }
  }
  @media (max-width: $screen_m) {
    & > * {
      width: calc(100% / 1 - 16px);
      flex-basis: calc(100% / 1 - 16px);
    }
  }
}

.goods-list-item-move {
  transition: transform 0.5s;
}
.goods-list-item-enter-active {
  transition: .5s;
}

.goods-list-item-leave-active {
  position: absolute;
  transition: .3s;
}
.goods-list-item-enter, .goods-list-item-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>