a {
  @include transition();

  &:hover {
    opacity: 0.8;
  }
}

body {
  background: #FAF9F7;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  flex: 1;
}

.container {
  width: $container_width;
  max-width: 100%;

  margin: 0 auto;
  padding: 32px;

  transition: padding 0.2s;

  @media (max-width: $screen_l) {
    padding: 24px;
  }

  @media (max-width: $screen_s) {
    padding: 16px;
  }
}

textarea {
  border-radius: 4px;
  box-shadow: $shadow_small;
  background: $color_light;
  border: none;

  padding: 10px 16px;

  font-size: 12px;
  font-weight: 400;
  line-height: 120%;

  @include transition;

  outline: 1px solid transparent;
  outline-offset: 1px;

  &::placeholder{
    color: $color_gray;
    transition: 0.1s;
  }

  &:focus {
    outline: 1px solid transparent;
    outline-color: $color_green;
    &::placeholder{
      color: transparent;
    }
  }
}

input[type="text"],
input[type="number"] {
  @extend textarea;

  height: 36px;
  padding: 0 16px;
}

select {
  @extend input[type="text"];
}

body {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

h1,
.h1 {
  font-size: 34px;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 28px;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: $screen_l) {
  body {
    font-size: 16px;
  }

  h1,
  .h1 {
    font-size: 28px;
  }

  h2,
  .h2 {
    font-size: 24px;
  }

  h3,
  .h3 {
    font-size: 20px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }
}

@media (max-width: $screen_s) {
  body {
    font-size: 16px;
  }

  h1,
  .h1 {
    font-size: 28px;
  }

  h2,
  .h2 {
    font-size: 22px;
  }

  h3,
  .h3 {
    font-size: 20px;
  }

  h4,
  .h4 {
    font-size: 16px;
  }
}

.text{
  &--gray{
    color: $color_gray;
  }
  &--green{
    color: $color_green;
  }
  &--red{
    color: $color_red;
  }
  &--left{
    text-align: left;
  }
  &--center{
    text-align: center;
  }
  &--right{
    text-align: right;
  }
}
.flex{
  display: flex;
  &--column{
    flex-direction: column;
  }
  &--row{
    flex-direction: row;
  }
  &--center{
    align-items: center;
    justify-content: center;
  }
}

.position{
  &--absolute{
    position: absolute;
  }
  &--relative{
    position: relative;
  }
  &--fixed{
    position: fixed;
  }
}