* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box !important; /* Для Firefox */
  -webkit-box-sizing: border-box !important; /* Для Safari и Chrome */
  box-sizing: border-box !important; /* Для IE и Opera */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*::before,
*::after {
  -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

a {
  background-color: transparent;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
  border: 1px solid currentColor;
  -webkit-appearance: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}
