.card {
  @include card;

  display: flex;
  flex-direction: column;

  &__img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 100%;
    width: 0;

    padding: 16px;

    overflow: hidden;
  }
}

.btn {
  height: 36px;

  border-radius: 10px;

  box-shadow: $shadow_small;

  font-family: $font_alt;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;

  border: 0;

  cursor: pointer;

  outline: 1px solid transparent;
  outline-offset: 1px;


  @include transition();


  &--primary {
    background: $color_green;
    color: $color_white;

    &:hover {
      background: lighten($color_green, 5);
    }

    &:active {
      background: darken($color_green, 5);
    }

    &:focus:not(:active) {
      outline-color: $color_green;
    }
  }

  &--red {
    background: $color_red;
    color: $color_white;

    &:hover {
      background: lighten($color_red, 5);
    }

    &:active {
      background: darken($color_red, 5);
    }

    &:focus:not(:active) {
      outline-color: $color_red;
    }
  }

  &--disabled,
  &[disabled] {
    background: $color_gray_light;
    color: $color_gray;
    box-shadow: none;

    pointer-events: none;
    cursor: default;
  }
}
.select{
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  &::after{
    content: '';
    display: flex;
    position: absolute;
    top: 50%;
    right: 16px;
    width: 5px;
    height: 5px;
    border-right: 1px solid $color_gray;
    border-bottom: 1px solid $color_gray;

    transform: translateY(-50%) rotate(45deg);
    pointer-events: none;
  }
  select{
    flex-grow: 1;
    padding-right: 26px;
    text-align: center;

    color: $color_gray;
    option{
      color: $color_black;
      text-align: left;
    }
  }
}

.form {
  @include card;

  padding: 24px;

  display: flex;
  flex-direction: column;

  font-size: 10px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.02em;


  &__success{
    @include card;
    @extend .h4;

    display: block;

    padding: 24px 16px;
    background-color: $color_green;
    color: $color_white;

    max-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;

    opacity: 0;
    transform: scale(0.5);

    overflow: hidden;

    transition: 0.3s;

    &--active{
      padding-top: 24px;
      padding-bottom: 24px;
      margin-top: 24px;
      max-height: 100px;

      opacity: 1;
      transform: scale(1);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    margin: -8px;

    &>* {
      margin: 8px;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    position: relative;
  }

  &__label {
    margin-bottom: 4px;

    &--required {
      &::after {
        content: '';
        display: inline-block;
        position: relative;
        top: -5px;
        width: 4px;
        height: 4px;
        background: $color_red;
        border-radius: 2px;
      }
    }
  }

  &__action {
    margin-top: 16px;
  }

  &__input {}

  &__mistake {
    position: absolute;
    bottom: -14px;

    font-size: 8px;
    font-weight: 400;
    line-height: 10px;

    color: $color_red;
  }

  @media (max-width: $screen_m) {
    padding: 16px;
  }
}

.preloader{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(10px);
  z-index: 20;
  .preloader__inner{
    span{
      display: block;
      position: absolute;

      width: 8px;
      height: 8px;
      border-radius: 4px;

      background: $color_green;
      
      &:nth-child(1){animation: spin 3s -0.3s cubic-bezier(0.5,0.8,0.5,0.5) infinite;}
      &:nth-child(2){animation: spin 3s -0.6s   cubic-bezier(0.5,0.8,0.5,0.5) infinite;}
      &:nth-child(3){animation: spin 3s -0.9s cubic-bezier(0.5,0.8,0.5,0.5) infinite;}
      &:nth-child(4){animation: spin 3s -1.2s   cubic-bezier(0.5,0.8,0.5,0.5) infinite;}
      &:nth-child(5){animation: spin 3s -1.5s cubic-bezier(0.5,0.8,0.5,0.5) infinite;}
      
    }
    @keyframes spin {
      from{
        transform:rotate(0deg) translateX(25px);
      }to{
        transform:rotate(360deg) translateX(25px);
      }
    }
  }
}