$color_black: #3F3F3F;
$color_gray: #B4B4B4;
$color_gray_light: #EEEEEE;
$color_white: #FFFFFF;
$color_green: #7BAE73;
$color_red: #FF8484;
$color_light: #FFFEFB;
$color_bg: #FAF9F7;

$shadow: 0px 20px 30px 0px #0000000A,
0px 6px 10px 0px #00000005;
$shadow_small: 0px 2px 5px 0px #0000001A;

$container_width: 1440px;

$screen_xl-min: 1200px;
$screen_xl: 1999px;
$screen_l-min: 992px;
$screen_l: 991px;
$screen_m-min: 768px;
$screen_m: 767px;
$screen_s-min: 480px;
$screen_s: 479px;
$screen_xs-min: 320px;
$screen_xs: 319px;

$font: "Source Sans Pro", helvetica, serif;
$font_alt: "Inter", helvetica, serif;

@mixin transition {
  transition: 0.3s;

  &:hover {
    transition: 0.15s;
  }

  &:active {
    transition: 0.05s;
  }
}

@mixin card {
  box-shadow: $shadow;
  background: $color_light;
  border-radius: 4px;
}
