<template>
  <section class="section">
    <div class="container">
      <div class="main">
        <div class="main__form">
          <h2 class="main__form-title">Добавление товара</h2>
          <GoodsForm />
        </div>
        <div class="main__goods-list">
          <div class="main__select select">
            <select name="" id="" @change="sortGoods">
              <option value="default" default>По умолчанию</option>
              <option value="min">Min</option>
              <option value="max">Max</option>
              <option value="name">По названия</option>
            </select>
          </div>
          <GoodsList />
        </div>
      </div>
    </div>
    <transition name="fade">
      <div class="preloader" v-show="showLoader">
        <div class="preloader__inner">
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>
    </transition>
  </section>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  computed:{
    showLoader(){
      return !this.$store.getters.isGoodsLoaded
    }
  },
  methods:{
    sortGoods(e){
      this.$store.commit("sortGoods", e.target.value)
    }
  },
  mounted() {
    if(!process.client) return;
    this.$store.dispatch('loadGoods')
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/_vars.scss";

.main {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  & > * {
    margin: 8px;
  }

  &__form {
    flex-basis: calc(100% / 4 - 16px);
    flex-grow: 0;
    flex-shrink: 0;
  }
  &__form-title {
    margin-bottom: 16px;
  }
  &__goods-list {
    display: flex;
    flex-direction: column;

    flex-basis: calc(100% * 3 / 4 - 16px);
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__select {
    align-self: flex-end;
    margin-bottom: 16px;
  }

  @media (max-width: $screen_l) {
    &__form {
      flex-basis: calc(100% / 3 - 16px);
    }
    &__goods-list {
      flex-basis: calc(100% * 2 / 3 - 16px);
    }
  }
  @media (max-width: $screen_m) {
    &__form {
      flex-basis: calc(100% / 2 - 16px);
    }
    &__goods-list {
      flex-basis: calc(100% / 2 - 16px);
    }
  }
  @media (max-width: $screen_s) {
    &__form {
      flex-basis: calc(100% / 1 - 16px);
    }
    &__goods-list {
      flex-basis: calc(100% * 1 - 16px);
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: 0.6s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>